@import 'tailwindcss';
@plugin "daisyui" {
  themes: false;
}

@plugin "daisyui/theme" {
  name: 'light';
  default: false;
  color-scheme: 'light';
  --color-base-100: oklch(98% 0.014 180.72);
  --color-base-200: oklch(95% 0.051 180.801);
  --color-base-300: oklch(91% 0.096 180.426);
  --color-base-content: oklch(38% 0.063 188.416);
  --color-primary: oklch(76% 0.188 70.08);
  --color-primary-content: oklch(98% 0.022 95.277);
  --color-secondary: oklch(0% 0 0);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(55% 0.027 264.364);
  --color-accent-content: oklch(98% 0.002 247.839);
  --color-neutral: oklch(60% 0.118 184.704);
  --color-neutral-content: oklch(98% 0.014 180.72);
  --color-info: oklch(68% 0.169 237.323);
  --color-info-content: oklch(97% 0.013 236.62);
  --color-success: oklch(70% 0.14 182.503);
  --color-success-content: oklch(98% 0.014 180.72);
  --color-warning: oklch(79% 0.184 86.047);
  --color-warning-content: oklch(98% 0.026 102.212);
  --color-error: oklch(64% 0.246 16.439);
  --color-error-content: oklch(96% 0.015 12.422);
  --radius-selector: 2rem;
  --radius-field: 1rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: 'dark';
  default: true;
  prefersdark: false;
  color-scheme: 'dark';
  --color-base-100: oklch(14% 0.005 285.823);
  --color-base-200: oklch(21% 0.006 285.885);
  --color-base-300: oklch(27% 0.006 286.033);
  --color-base-content: oklch(96% 0.001 286.375);
  --color-primary: oklch(64% 0.246 16.439);
  --color-primary-content: oklch(96% 0.015 12.422);
  --color-secondary: oklch(60% 0.25 292.717);
  --color-secondary-content: oklch(96% 0.016 293.756);
  --color-accent: oklch(68% 0.169 237.323);
  --color-accent-content: oklch(97% 0.013 236.62);
  --color-neutral: oklch(27% 0.006 286.033);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(68% 0.169 237.323);
  --color-info-content: oklch(97% 0.013 236.62);
  --color-success: oklch(72% 0.219 149.579);
  --color-success-content: oklch(98% 0.018 155.826);
  --color-warning: oklch(70% 0.213 47.604);
  --color-warning-content: oklch(98% 0.016 73.684);
  --color-error: oklch(63% 0.237 25.331);
  --color-error-content: oklch(97% 0.013 17.38);
  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.21875rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

html {
  font-feature-settings: 'ss01';
}

.input {
  @apply focus:outline-none;
  outline-style: none !important;
}
